.lead {
    grid-area: lead;
    color: #FFF;
    text-align: center;
    font-family: Inter, serif;
    padding: 56px 0 0 0;
    width: 100%;
    max-width: 984px;
    margin: 0 auto;
}

@media screen and (max-width: 1279px) {
    .lead {
        max-width: 928px;
        padding-top: 48px;
    }
}

@media screen and (max-width: 1023px) {
    /* TODO Под 768px*/
}

@media screen and (max-width: 767px) {
    /* TODO Под 320px*/
}