.cover__subtitle {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 122.222% */

  margin: 0 auto;
  z-index: 2;

  width: 100%;
  max-width: 360px;

  user-select: none;
}


@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 260px;

    font-size: 14px;
    line-height: 16px; /* 114.286% */
  }
}
