.place__paragraph {
    margin: 0;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 163%; /* 29.34px */
    text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
    }
}