.cover__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../images/cover/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;

  color: #FFF;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
}

@media screen and (max-width: 767px) {
  .cover__background {
    gap: 16px;
  }
}

.cover__background:hover .cover__overlay {
  cursor: pointer;
  opacity: .8;
  transition: opacity .2s linear;
}
