.cover__title {
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px; /* 105.556% */

  margin: 0 auto;

  width: 100%;
  max-width: 560px;
  z-index: 2;

  user-select: none;
}

@media screen and (max-width: 767px) {
  .cover__title {
    max-width: 240px;

    font-size: 32px;
    line-height: 35px; /* 109.375% */
  }
}
