.cover__content {
    position: relative;
    text-align: center;
    color: #fff; /* Цвет текста */
    margin: 245px auto 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media screen and (max-width: 1279px) {
    .cover__content{
        margin-top: 195px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__content {
        margin-top: 115px;
    }
}

@media screen and (max-width: 767px) {
    .cover__content {
        margin-top: 33px;
        gap: 16px;
    }
}
